<div>
    <div class="d-flex mt-3">
        <p class="badge bg-dark text-light mx-2 p-2 fw-normal px-3 fs-6">All</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Bollywood</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Comedy</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">IPL 2023</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Politics</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">TV Shows</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Action Movies</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Stock Market</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Podcasts</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">Vlogs</p>
        <p class="badge bg-light text-dark mx-2 p-2 fw-normal px-3 fs-6">News</p>

    </div>
    <div class="container my-3">
        <app-video-preview></app-video-preview>
    </div>